@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin flex( $direction: row, $justify: center, $align: center, $wrap: nowrap){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}