.container {
  @include flex(column, space-between, flex-end, wrap);
}

.btn-primary {
  border-radius: 10px;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-weight: 600;
}

.btn-t {
  @extend .btn-primary;
  background-color: transparent;
  color: black;
  font-weight: 400;
}